# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node
**/node_modules/
node_modules/

# Builds
**/dist/
**/build/
**/.vite/
**/.turbo/
**/.next/

# Environment
**/.env
**/.env.*
.env
!.env.example


# Chaves/segredos soltos 
*.pem
*.key

# IDEs, Editor directories and files
.idea/
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
Thumbs.db

# Testes
coverage/

# Logs
Private/